<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.url">jdbc:h2:mem:testDb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="it.academy.entity.Purchase"/>
        <mapping class="it.academy.entity.account.Account"/>
        <mapping class="it.academy.entity.account.admin.Admin"/>
        <mapping class="it.academy.entity.account.provider.Provider"/>
        <mapping class="it.academy.entity.account.user.User"/>
        <mapping class="it.academy.entity.account.user.Comment"/>
        <mapping class="it.academy.entity.account.user.Friends"/>
        <mapping class="it.academy.entity.game.Game"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>


<!--
<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/playground?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        &lt;!&ndash;<property name="hbm2ddl.auto">create</property>&ndash;&gt;

        <mapping class="it.academy.entity.Purchase"/>
        <mapping class="it.academy.entity.account.Account"/>
        <mapping class="it.academy.entity.account.admin.Admin"/>
        <mapping class="it.academy.entity.account.provider.Provider"/>
        <mapping class="it.academy.entity.account.user.User"/>
        <mapping class="it.academy.entity.account.user.Comment"/>
        <mapping class="it.academy.entity.account.user.Friends"/>
        <mapping class="it.academy.entity.game.Game"/>

        &lt;!&ndash; DB schema will be updated if needed &ndash;&gt;
        &lt;!&ndash; <property name="hbm2ddl.auto">update</property> &ndash;&gt;
    </session-factory>
</hibernate-configuration>
-->
